htmorphs/
onnxruntime/*.zip
onnxruntime/include/
onnxruntime/lib/
onnxruntim/LICENSE
onnxruntim/GIT_COMMIT_ID
onnxruntim/CodeSignSummary-fc245f87-d9b0-48d1-bbb1-d664e04d2d08
onnxruntim/Privacy.md
onnxruntim/ThirdPartyNotices.txt
onnxruntim/VERSION_NUMBER